* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    text-align: center;
    background: #112B3C;
    color: #F66B0E;
    height: 100vh;
}

.game {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    height: 100%;
    margin: auto;
}

.game h1 {
    font-size: 3.5em;
    padding: 100px 0;
}

.game h2 {
    letter-spacing: 2px;
    font-size: 2em;
}

.mobile {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: auto;
    padding: 0 25px;
}

.game button {
    padding: 12px;
    margin: 20px 5px;
    width: 175px;
    border: 3px solid #F66B0E;
    background-color: #112B3C;
    color: #F66B0E;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.5em;
    transition: 0.3s;
}

.game button:hover {
    background-color: #F66B0E;
    color: #112B3C;
}

.game p {
    font-size: 2em;
    letter-spacing: 2px;
}

.answerWas, .result {
    height: 50px;
}

.result {
    margin-bottom: 25px;
}

.counter-bar {
    padding-bottom: 100px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 0.6em;
    color: #f66b0ea6;
    margin-bottom: 10px;
}

@media (max-width: 768px){
    .game {
        max-width: 550px;
    }
    .game h1 {
        font-size: 3em;
        padding: 75px 20px;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .game button {
        width: 250px;
    }

    .game p {
        font-size: 1.8em;
    }
}

@media (max-width: 576px){
    .game {
        margin: 0;
    }
    
    .game h1 {
        font-size: 2.5em;
        padding: 25px 20px;
    }
    
    .game p {
        font-size: 1.5em;
    }

    .counter-bar {
        padding: 0;
    }

    footer {
        margin-top: auto;
    }
}

