* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    text-align: center;
    background: #112B3C;
    color: #F66B0E;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.game h1 {
    font-size: 3.5em;
    margin: 150px 0;
}

.game h2 {
    letter-spacing: 2px;
    font-size: 2em;
    margin-top: 100px;
}

.game button {
    padding: 10px;
    margin: 25px 10px;
    width: 150px;
    border: 3px solid #F66B0E;
    background-color: #112B3C;
    color: #F66B0E;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.5em;
}

.game button:hover {
    background-color: #F66B0E;
    color: #112B3C;
}

.game p {
    font-size: 2em;
    letter-spacing: 2px;
}

.answerWas, .result {
    height: 50px;
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

@media (max-width: 600px){
    .game h1 {
        font-size: 3em;
        margin: 75px 0;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game button {
        margin: 15px;
        width: 200px;
    }

    .game p {
        font-size: 1.8em;
        margin: 15px;
    }
}

