* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    text-align: center;
    background: #112B3C;
    color: #F66B0E;
}

.game {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    height: 100vh;
    margin: auto;
}

.game h1 {
    font-size: 3.5em;
    padding: 4em 0;
}

.game h2 {
    letter-spacing: 2px;
    font-size: 2.4em;
}

.mobile {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: auto;
    padding: 0 1.5em;
}

.game button {
    padding: 0.5em;
    margin: 1em 0.2em;
    width: 175px;
    border: 3px solid #F66B0E;
    background-color: #112B3C;
    color: #F66B0E;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1.5em;
    transition: 0.4s;
}

.game button:hover {
    background-color: #F66B0E;
    color: #112B3C;
    border-radius: 0.5em;
    transform: scale(1.2);
}

.game p {
    font-size: 2em;
    letter-spacing: 2px;
}

.animation {
    height: 100%;
    animation: rolling 0.2s linear;
    animation-iteration-count: infinite;
}

.roll {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    height: 50%;
}

.roll p {
    font-size: 3.2em;
}

.roll p i {
    font-size: 2.5em;
    margin: 0 0.6em;
}

.result {
    height: 50%;
}

.game .result {
    margin: auto;
    font-size: 3em;
    letter-spacing: 0;
    font-weight: bold;
}

.counter-bar {
    margin: auto;
    margin-bottom: auto;
    padding: 15px;
}

.counter-bar span {
    font-size: 1.3em;
    color: #eee;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 0.2em;
    font-size: 0.6em;
    color: #f66b0ea6;
    margin-bottom: 10px;
}

@keyframes rolling {
    0% {
        transform: translateY(1.5em)
    }
    100% {
        transform: translateY(-0.5em)
    }
}

@media (max-width: 768px){
    .game {
        max-width: 550px;
    }

    .game h1 {
        font-size: 3em;
        padding: 1em 1em;
    }

    .mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .game button {
        width: 250px;
    }

    .game p {
        font-size: 1.8em;
    }

    .roll {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 576px){
    .game {
        margin: 0;
    }
    
    .game h1 {
        font-size: 2.5em;
    }

    .game button {
        margin: 0.6em 0;
    }

    .counter-bar {
        padding: 0;
    }

    footer {
        margin-top: auto;
    }
}